html,body{
	margin:0;
	padding:0;
	width: 100%;
	height: 100%;
	min-width:100%;
	min-height:100%;
}
header,footer{ 
	background-color: #252525;
	margin: 0 auto;
	max-width: 900px;
}
footer{
	position: absolute;
	left: 0; 
	right: 0; 
	bottom: 0;
	margin-left: auto; 
	margin-right: auto; 

}
body
{
   background: url("../images/fundo.jpg")center center no-repeat fixed; 
   background-repeat: no-repeat;
   background-position: center fixed;
   background-size: cover;
   width: 100%;
   height: 100%;

	position: relative;
	height: auto !important;   
}

.logo{
	padding-top: 10px;	
	width:200px;
	height:80px;
}

.fundo{
	max-width: 100%;
	max-height: 100%;

}
.divLogo{
	text-align: center;
	min-width: 30%;
}
.divLogin{
	float: right;
	padding-right:20px;
	padding-top:15px;
}

.conteudo{
	text-align: center; 
	padding-top: 20%;
	padding-bottom: 20%;
}

.botaoHeader{
  color: #fff;
  font-size: 20px;
  background: #007bff;
  padding: 15%;
  padding-left: 40px;
  padding-right: 40px;
  text-decoration: none;
  border: none;
  float:right;
}

.botaoHeader:hover {
  background: #0064CC;
  text-decoration: none;
}
.botaoCorpo{
  padding-top: 50%;
  padding-right: 50%;
  color: #FFFFFF;
  font-size: 25px;
  background: #007bff;
  padding: 25px;
  text-decoration: none;
  border: none;
}

.botaoCorpo:hover {
  background: #0064CC;
  text-decoration: none;
}

.corpo{
	min-width: 900px;
	margin: 0 auto;
	max-width: 900px;
	min-height: 73.1%;
	height: auto;
	
	padding-bottom: 89px;
}
.conteudo{
	text-align: center;	
}

.fundo{
	background-color: #FFFFFF;
}


/* Style NAVBAR MENU */

#navbar{	
	text-align: center;
	height: 45px;
	background: #0062FF;
}
#navbar ul{
	margin:0px;
	padding: 0px;
	list-style: none;
	width: 100%;
	height: 100%;
	float: left;
}

#navbar ul li{
	display: inline-block;
	width: 20%;
	height: 100%;
    margin:0;
    padding:0;
}

#navbar ul li a{
	text-align: center;
	text-decoration: none;
	font: 17px arial;
	color: #fff;
	display: block;
	margin: 0;
	padding: 13px 0px 12px 0px;
	border-left: 1px solid #252525;
    border-right: 1px solid #252525;
}

#navbar ul li a:hover{
	background: #252525;
	color: #fff;
	border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

#navbar ul li ul{
	display: none;
	width: 180px;
	padding: 0px 0px 45px 0px;
	margin: 0px;
	float: left;
	background: #0062FF;
}

#navbar ul li:hover ul{
	display: block;
}

#navbar ul li ul li{
	display: inline;
	float: left;
	width: 100%;
	height: 100%;
}

#navbar ul li ul li a{
	border-bottom: 1px solid #252525;
}

#navbar ul li ul li a:hover{
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

/*fim style navbar*/